
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>LearnDev</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/app.css" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
    <header class="container-fluid">
        <nav class="navbar navbar-default">
            <div>
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">LearnDev</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
             
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Courses</a></li>
                        <li><a href="#">Articles</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header>
    <section class="container-fluid">
        <div class="row">
            <section class="col-lg-7 col-md-6 col-md-push-3">
                ITEMS
            </section>
            <aside class="col-md-3 col-md-pull-6 col-lg-pull-7">
                <div class="profile">
                    <div class="profile-image" style="background-image: url('@Url.Content("~/Images/background.jpg")')"></div>
                    <div class="img-circle profile-initials">AB</div>
                    <div class="profile-name">Aman Beg</div>
                    <div class="profile-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a enim pulvinar, lacinia lectus ac, cursus ante. Aliquam vehicula nunc non tristique scelerisque. Fusce dapibus odio erat, in facilisis lorem consectetur id. Nunc id eros felis. Quisque in magna vitae felis iaculis varius eget ut augue.  
                    </div>
                    <div>
                        <div class="form-group">
                            <label for="courses">Courses</label>
                            <p class="form-control-static">15</p>
                            <input type="text" class="form-control hidden" id="courses" />
                        </div>
                        <div class="form-group">
                            <label for="articles">Articles</label>
                            <p class="form-control-static">20</p>
                            <input type="text" class="form-control hidden" id="articles"/>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6">
                                <button class="btn btn-block btn-primary">Edit</button>
                            </div>
                            <div class="col-sm-6 hidden">
                                <button class="btn btn-block btn-danger">Cancel</button>
                            </div>
                            <div class="col-sm-6 hidden">
                                <button class="btn btn-block btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <aside class="col-lg-2 col-md-3 friends">
                <h3>FRIENDS</h3>
                <div class="friend">
                    <div class="img-circle friend-initials">HS</div>
                    <div class="friend-name">Homer Simpson</div>
                    <div class="friend-details">
                        <div>12 courses taken</div>
                        <div>10 articles reviewed</div>
                    </div>
                </div>
                <div class="friend">
                    <div class="img-circle friend-initials">MS</div>
                    <div class="friend-name">Marge Simpson</div>
                    <div class="friend-details">
                        <div>12 courses taken</div>
                        <div>10 articles reviewed</div>
                    </div>
                </div>
            </aside>
        </div>
    </section>
    <footer class="container-fluid">
        &copy; Copyright 2016
    </footer>
    <script src="~/scripts/jquery-1.9.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
</body>
</html>
